.profile {
  display: flex;
  background-color: rgb(255, 200, 200);
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgb(20, 100, 250);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 50px;
  padding: 20px;
  border: 2px solid rgb(50, 150, 50);
  border-radius: 10px;
  background-color: rgb(250, 230, 180);
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
}

.container:focus,
.container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.avatar {
  width: 120px;
  height: 120px;
}

.name {
  display: flex;
  justify-content: center;
  color: rgb(100, 20, 150);
}

.tag {
  display: flex;
  justify-content: center;
  color: rgb(50, 150, 200);
}

.location {
  display: flex;
  justify-content: center;
  color: rgb(200, 50, 100);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  color: rgb(20, 200, 100);
}

.label {
  color: rgb(150, 20, 20);
}
